# Compiled output
dist/
node_modules/
build/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS
.DS_Store
*.tsbuildinfo

# IDEs
.vscode
.idea
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local

# Testing
/coverage

# NestJS specific
Thumbs.db
db.sqlite

# TLS certificates (generated locally)
services/infra/traefik/certs/
services/auth-service/src/**/*.js
services/auth-service/src/**/*.js.map
services/auth-service/src/**/*.d.ts
services/auth-service/src/**/*.d.ts.map
